protoc-gen-sol
.vscode
.DS_Store

# ignore generated protobuf and solidity fixtures
test/*.pb
test/fixtures/bin/*.pb

# solidity test gitignore
test/solidity/node_modules/
test/solidity/build/
test/solidity/cache/
test/solidity/out/

archive/
reviews
plans